@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

body {
    font-family: var(--paragraph-font);
    font-family: "Raleway";
    max-width: 960px;
    padding: 20px;
}

:root {
    --primary-color: #000000;
    --secondary-color: #088283;
    --accent1-color: #7DC8DA;
    --accent2-color: #0C347A;

    --heading-font: 'Raleway', serif;
    --paragraph-font: 'var(--paragraph-font)', serif;

    --nav-background-color: #000000;
    --nav-link-color: #7DC8DA;
    --nav-hover-link-color: #0C347A;
    --nav-hover-background-color: #FCE172;
}

.history {
    position: relative;
    display: flex;
    align-items: center;
    text-align: left;
    display: grid;
	grid-template-columns: 1fr 250px 1fr;
    background-color: var(--secondary-color);
    padding-top: 40px;
    margin-top: 20px;
    height: auto;
}

.history p {
    margin: 20px;
}

.history h2 {
    position: absolute;
    top: 0;
    left: 22px;
    right: 0;
    text-align: center;
}

.history img {
    display: block;
    width: 100%;
    margin: 10px;
}

.hero {
    position: relative;
    display: flex;
    align-items: center;
}

.hero img {
    display: block;
    width: 100%;
    height: auto;
}

.hero h1 {
    position: absolute;
    text-align: center;
    left: 0px;
    right: 0px;
	top: 15px;
	background: #ffffff;
	padding: 0.5rem;
	opacity: 0.8;
}

.hero article {
    position: absolute;
    background: #ffffff;
    margin-left: 20px;
    padding: 0.5rem;
    opacity: 0.8;
    top: 120px;
    left: 30px;
    right: 30px;
}

.hero article p {
    margin-top: -1px;
}

.hero article img {
    float: right;
    width: 35%;
}

h1, h2 {
    font-family: var(--heading-font);
    color: var(--accent2-color)
}

header {
    background-color: var(--secondary-color);
    margin: 1rem auto;
	display: grid;
	grid-template-columns: repeat(3, auto);
	align-items: center;
	border-bottom: 1px solid #ccc;
	max-width: 1000px;
}

header img {
	width: 125px;
	height: auto;
}


nav {
    /*background-color: var(--nav-background-color);*/
    display: flex;
    text-align: right;
    font-size: 1.3rem;
}

nav a {
    display: block;
    color: var(--nav-link-color);
    text-decoration: none;
    padding: 1rem;
}

nav a:hover {
    color: var(--nav-hover-link-color);
    background-color: var(--nav-hover-background-color);
}

.adventure {
    display: grid;
    grid-template-columns: repeat(5, auto);
    gap: 5px;
    justify-content: center;
}

.adventure h2 {
    text-align: center;
    grid-column: 1 / -1;
    margin-bottom: 20px;
}

.adventure figure {
    margin: 0;
    padding: 10px;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
}

.adventure img {
    position: relative;
    width: 100%;
    height: 100px;
    object-fit:cover
}

footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;

}

footer p{
    flex: 1;
    position: relative;
    text-align: center;
    justify-content: space-between;       
}

.sociallinks {
    display: flex;
    position: relative;
    justify-content: right;
}

.heading {
    text-align: center;
    margin-bottom: 20px;
    padding: 20px;
}

.container {
    display: flex;
    align-items: flex-start;
    background: var(--accent1-color);
    height: 300px;
}
  
.text {
   flex: 1;
   padding-left: 15px;
}
  
.map {
    flex: 1;
    width: 100%;
    position: relative;
}

.map iframe {
    width: 100%;
}

.employee {
    display: grid;
    grid-template-columns: repeat(5, auto);
    gap: 5px;
    justify-content: center;
    padding: 10px;
}

.employee h2 {
    text-align: center;
    grid-column: 1 / -1;
    margin-bottom: 20px;
}

.employee figure {
    margin: 0;
    padding: 10px;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
}

.employee img {
    position: relative;
    width: 100%;
    height: 200px;
    object-fit:cover
}

form {
    padding: 20px;
    background-color: var(--accent1-color);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-self: center;
}

.form-item {
    display: flex;
    align-self: center;
    margin-bottom: 10px;
}

input {
    margin-left: 5px;
    margin-right: 20px;
}

.message, .type {
    margin: 5px;
    align-self: center;
}

.message textarea {
    width: 100%;
    display: flex;
}

button {
    margin: 20px;
    padding: 10px;
    width: 20%; 
    background-color: #eee;
    border: none;
    border-radius: 5px;
    font-size: 1.1rem;
    cursor: pointer;
    align-self: center;
}

input[type="text"], input[type="email"], textarea {
    background-color: #ffffff;
}

button:hover {
    color: #ffffff;
    background-color: var(--accent2-color);
    
}
